

:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'M PLUS 1p', sans-serif;
  --red: #DA6862;
  --pink: #FFC5C2;
  --gray: #98C3C7;
  --green: #24686F;
  --light-green: #60989D;
  --focus-green: #CCED8F;
  --black: rgb(0, 0, 0);
}


body{
	height: 100%;
    overflow: auto;
	padding: 0;
	margin: 0;
	font-family: var(--secondary-font);
	background-color: var(--pink);
}

.header-desktop{
  display: flex;
  height: 95px;
  background-color: var(--red);
  color: var(--green);
  font-family: var(--primary-font);
  justify-content: space-between;
}

.header-desktop> a{
  font-weight: bold;
  text-align: center;
  margin: auto  120px;
  text-decoration: none;
  font-size: 70px;
  font-family: var(--primary-font);
  color: var(--black);
}

.header-mobile{
	display: none;
	height: 95px;
	background-color: var(--red);
	color: var(--green);
	justify-content: space-between;
  }
  
  .header-mobile> a{
	font-weight: bold;
	text-align: center;
	margin: auto  30px;
	text-decoration: none;
	font-size: 70px;
	font-family: var(--primary-font);
	color: var(--black);
  }
.logo{
  margin: 0px;
}

.logo-image{
  width: 95px;
  height: 95px;
}

.logo-image:hover{
	border-radius: 50%;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.pokeball{
	background-image: url('../images/pokeball.png');
	width: 50px;
	height: 50px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 25s;
	-webkit-animation: myfirst 25s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#pokeball{
	top: 200px;
   animation-delay: 15s;
   -webkit-animation-delay: 15s;
}
#pokeball2{
	top: 300px;
  animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
#pokeball3{
	top: 400px;
   animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
#pokeball4{
	top: 500px;
   animation-delay: 17s;
	-webkit-animation-delay: 17s;
  
}
#pokeball5{
	top: 600px;
   animation-delay: 20s;
	-webkit-animation-delay: 20s;
}
#pokeball6{
	top: 700px;
   animation-delay: 13s;
	-webkit-animation-delay: 13s;

}
#pokeball7{
	top: 800px;
   animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
#pokeball8{
	top: 900px;
   animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
#pokeball9{
	top: 1000px;
   animation-delay: 23s;
	-webkit-animation-delay: 23s;
}


#form{
	height: 100%;	
	background-color: var(--pink);
	overflow: hidden;
}

form{
	margin: 200px auto;
	width: 500px;
    padding: 20px;
	color: var(--green);
    font-weight: bold;
	position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;	
}

label, input, textarea, button{
	display: block;	
}
input, textarea, button{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: var(--secondary-font);
	font-size: 1em;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px var(--light-green);	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input:focus, textarea:focus{
	border: solid 3px var(--focus-green);	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
button {
	background-color: var(--green);
     border:0;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: var(--secondary-font);
	-webkit-transition: background-color 0.9s;
	-moz-transition: background-color 0.9s;
	-o-transition: background-color 0.9s;
	transition: background-color 0.9s;
}
button:hover{
	background-color: #DA6862;
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

footer{
  display: block;
  height: fit-content;
  background-color: var(--pink);
  color: var(--green);
  justify-content: space-between;
}
footer > center > label{
	margin-top: 0;
}

.footer-Bpokeball{
	display: flex;
	justify-content: center;
}

.footer-Cpokeball{
	display: flex;
	justify-content: center;
}

.black-pokeball{
	margin-bottom: 0px;
	margin-top: 0px;
}
.black-pokeball > img:hover{
	border-radius: 50%;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);	
}

.color-pokeball{
	margin-top: 0px;
}
.color-pokeball > img:hover{
	border-radius: 50%;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);	
}


/* SERVICES*/
.serviceicon{
    width: 70px;
    padding: 5px;
}

.content{
    box-sizing: border-box;
}

.container{
	text-align: center;
	background-color: var(--pink);
	padding-top: 0;
	height: fit-content;
}

.column {
    float: left;
    padding: 0 10px;
}

.row {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
}


.service {
    padding: 16px;
    text-align: center;
    background-color: #fff;
	height: 400px;
	margin: 20px;
    width: 25%;
}

.title{
	color: var(--green);
	margin-top: 0;
	text-align: center;
}



/* HOMEPAGE */

.banner {
	height: 40vh;
	width: 100vw;
	background-color: var(--gray);
}

.banner-container {
		padding: 2vh 10vw;
}

.healball {
		height: 40%;
		position: absolute;
}

.pokecare-logo {
		height: 100%;
		padding-left: 30%;
}

.phrase-logo {
		position: absolute;
		right: 15vw;
		font-family: Mplus 1p;
		font-style: normal;
		font-weight: normal;
		text-shadow: 0px 4px 10px #000000;
		font-size: 48px;
}

.content {
		padding: 2% 10%;
		background-color: var(--pink);
}

.content > p {
		white-space: pre-wrap;
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
}

.services-buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
}

.services-buttons > a {
		background-image: url("/images/game-button.png");
		background-color: #cccccc;
}

@media (max-width: 768px){
	.pokeball{ 	display: none;	 }
   .header-desktop{
	   display: none;
   }
   .header-mobile{
	   display: flex;
   }
   .header-mobile > a{
	   font-size: 90px;
   }
   
	 form{
	   margin: 100px auto;
   }
   footer{
	   height: 300px;
   }
   
   .row {
	flex-direction: column;
}
.service{
	width: 60%;
	height: 250px;
}
   }

   
@media (max-width: 420px){
	.header-desktop{
		  display: none;
	  }
	  .header-mobile > a{
		  font-size: 60px;
	  }
   .pokeball{ 	display: none;	 }
	
	form{
	  margin: 70px auto;
	  width: 350px;
		padding: 10px;
  }
  
  input, textarea, button{
	  width: 350px;	
	  border-radius: 10px;
  }
  
  textarea{
	  height: 70px;	
  }
	
  label{
	  font-size: 1.5em;
	  margin-top: 15px;
  }
  footer{
	  height: 300px;
  }
}

/* HOMEPAGE */

.banner {
	height: 40vh;
	width: 100vw;
	background-color: var(--gray);
	
}

.banner-container {

}
.banner-img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.healball {
		height: 40%;
		display: inline;
}

.pokecare-logo {
	display: inline;
		height: 100%;
}

.phrase-logo {
		font-family: Mplus 1p;
		font-style: normal;
		font-weight: normal;
		text-shadow: 0px 4px 10px #000000;
		font-size: 48px;
}

.content {
		padding: 2% 10%;
		background-color: var(--pink);
}

.content > p {
		white-space: pre-wrap;
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
}

.services-buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
}

.services-buttons > a > label {
		margin: 15x;
		padding: 50px;
		min-height: 5vh;
		background: no-repeat url(../images/game-button.png) 50% / 100%;
}
